<?xml version="1.0" encoding="UTF-8"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http//phonegap.com/ns/1.0"
            id="br.com.pucminas"
            version="1.0.0">
    <name>
        Promoção App 
    </name>
    <description>
        Menu das Promoções App.
    </description>
    <icon src="imagens/logo.png"/>
    <author href="http//leandroreis.org" email="leandro.reis@outlook.com">
        Leandro Reis
    </author>
</widget>